// This is a file that can be overridden by the application in order to override styles
// Notice that this file is included at the very end of the stylesheets packs to have
// more priority
//
// To override the Tailwind CSS configuration you can do so by following the instructions
// available at https://docs.decidim.org/en/develop/customize/styles.html#_tailwind_css
//
// By default this is empty.

.user-groups-list__map {
  margin-left: 0;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  aspect-ratio: 1 / 1;

  @media (min-width: 768px) {
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    aspect-ratio: 21 / 9;
  }

  & > * {
    height: 100%;
  }
}
